//Theme Colors
$primary: #532ca2;
$secondary: #25003e;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$white: #fff;

//Body
$body-bg: $primary;

//Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//Spaces
$section-margin-bottom: 2.5rem;
