@import 'variables';
@import 'typography';
@import 'mixins/sizing';
@import "bootstrap/dist/css/bootstrap.min.css";

html, body, #app, #app>div {
  height: 100%
}

section {
  margin-bottom: $section-margin-bottom;
}

.main-bg {
  background: linear-gradient($primary 0%, $secondary 100%);
}